header.header
    .header__top
        .wrapper
            .header__menu
                a(href="#") Новости
                a(href="#") Вопрос-ответ
                a(href="#") О компании
            .header__phone
                a(href="tel:+73830000000") +7 (383) 000-00-00
                a(href="tel:+73830000000") +7 (383) 000-00-00
    .header__main.wrapper
        a(href="./").logo
            img(src="./images/icon/logo.svg", alt="logo")
        .header__form
            p Интернет-продажи сантехники и отделочных материалов
            form(action="#")
                input(type="text", name="serch")
                input(type="submit", value="")
        a(href="#").basket
            img(src="./images/icon/basket.svg", alt="basket")
            span 0
nav.menu
    .wrapper
        ul
            li.has-sub__1
                a(href="#") Каталог
                ul.sub-menu__1
                    li
                        a(href="#") Распродажа
                    li.has-sub__2
                        a(href="#") Сантехника
                        ul.sub-menu__2
                            li
                                a(href="#") Подкатегория
                            li.has-sub__3
                                a(href="#") Подкатегория
                                ul.sub-menu__3
                                    li
                                        a(href="#") Подкатегория
                                    li
                                        a(href="#") Подкатегория
                                    li
                                        a(href="#") Подкатегория
                                    li
                                        a(href="#") Подкатегория с длинным названием в две строки
                                    li
                                        a(href="#") Подкатегория
                            li
                                a(href="#") Подкатегория
                            li
                                a(href="#") Подкатегория
                            li
                                a(href="#") Подкатегория
                            li
                                a(href="#") Подкатегория
                            li
                                a(href="#") Подкатегория
                            li
                                a(href="#") Подкатегория
                    li
                        a(href="#") Мебель для ванной комнаты
                    li
                        a(href="#") Напольные покрытия
                    li
                        a(href="#") Двери
                    li
                        a(href="#") Дверная фурнитура
                    li
                        a(href="#") Кухонные фартуки
                    li
                        a(href="#") Настенные панели
                    li
                        a(href="#") Отопление
                    li
                        a(href="#") Водонагреватели
                    li
                        a(href="#") Инструменты
                    li
                        a(href="#") Свет
                    li
                        a(href="#") Керамическая плитка и кераморанит
                    li
                        a(href="#") Сайдинг и фасадные панели
                    li
                        a(href="#") Полотенцесушители
                    li  
                        a(href="#") Обои
                    li
                        a(href="#") Комплектаторам
            li
                a(href="#") Доставка и оплата
            li
                a(href="#") Услуги
            li
                a(href="#") Акции
            li
                a(href="#") Контакты
            li
                a(href="#") Дизайнерам
.content.wrapper
    aside.left
        .sidebar
            h2 Каталог
            ul
                li
                    a(href="#") Распродажа
                li
                    a(href="#") Сантехника
                li.has-sub__4
                    a(href="#") Мебель для ванной комнаты
                    ul.sub-menu__4
                        li
                            a(href="#") Категория
                        li.has-sub__5
                            a(href="#") Категория
                            ul.sub-menu__5
                                li
                                    a(href="#") Категория
                                li
                                    a(href="#") Категория
                                li
                                    a(href="#") Длинное название категории
                                li
                                    a(href="#") Категория
                        li
                            a(href="#") Длинное название категории
                        li
                            a(href="#") Категория
                li
                    a(href="#") Напольные покрытия
                li
                    a(href="#") Двери
                li
                    a(href="#") Дверная фурнитура
                li
                    a(href="#") Кухонные фартуки
                li
                    a(href="#") Настенные панели
                li
                    a(href="#") Отопление
                li
                    a(href="#") Водонагреватели
                li
                    a(href="#") Инструменты
                li
                    a(href="#") Свет
                li
                    a(href="#") Керамическая плитка и кераморанит
                li
                    a(href="#") Сайдинг и фасадные панели
                li
                    a(href="#") Полотенцесушители
                li
                    a(href="#") Обои
                li
                    a(href="#") Комплектаторам
        .news
            h3 Новости
            .news__item
                span 12.12.20
                a(href="#") Новое поступление керамогранита
            .news__item
                span 12.12.20
                a(href="#") Новое поступление керамогранита
            .news__item
                span 12.12.20
                a(href="#") Новое поступление керамогранита
    main.info
        .slider
            .slider__slide
                img(src="./images/decor/slider.jpg", alt="slider")
                .text
                    h3 Всё для идеальной ванной — от крана до водонагревателя
            .slider__slide
                img(src="./images/decor/slider.jpg", alt="slider")
                .text
                    h3 Всё для идеальной ванной — от крана до водонагревателя
        .popular
            h3 Популярные категории
            .popular__wrap
                a(href="#").popular__item
                    img(src="./images/decor/popular-1.jpg", alt="popular")
                    span Сантехника
                a(href="#").popular__item
                    img(src="./images/decor/popular-2.jpg", alt="popular")
                    span Двери
                a(href="#").popular__item
                    img(src="./images/decor/popular-3.jpg", alt="popular")
                    span Отопление
                a(href="#").popular__item
                    img(src="./images/decor/popular-4.jpg", alt="popular")
                    span Свет
                a(href="#").popular__item
                    img(src="./images/decor/popular-5.jpg", alt="popular")
                    span Керамическая плитка и кераморанит
                a(href="#").popular__item
                    img(src="./images/decor/popular-6.jpg", alt="popular")
                    span Обои
        .sale
            .sale__title
                h3 Акции
                a(href="#") Все акции
            .sale__wrap
                .sale__item
                    .sale__image
                        img(src="./images/decor/sale-1.jpg", alt="sale")
                        span 12.12.20
                    .sale__text
                        a(href="#") Скидки до 70% на двери и дверную фурнитуру!
                .sale__item
                    .sale__image
                        img(src="./images/decor/sale-2.jpg", alt="sale")
                        span 12.12.20
                    .sale__text
                        a(href="#") Супер-скидки месяца на сайдинг и фасадные панели!
                .sale__item
                    .sale__image
                        img(src="./images/decor/sale-3.jpg", alt="sale")
                        span 12.12.20
                    .sale__text
                        a(href="#") Оставьте нам отзыв и получите подарок
        .about
            h3 О компании
            .about__text
                p Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Товарищи! рамки и место обучения кадров требуют определения и уточнения новых предложений. Задача организации, в особенности же дальнейшее развитие различных форм деятельности способствует подготовки и реализации дальнейших направлений развития. С другой стороны сложившаяся структура организации позволяет выполнять важные задания по разработке модели развития.
                p Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Товарищи! рамки и место обучения кадров требуют определения и уточнения новых предложений. Задача организации, в особенности же дальнейшее развитие различных форм деятельности способствует подготовки и реализации дальнейших направлений развития. С другой стороны сложившаяся структура организации позволяет выполнять важные задания по разработке модели развития.
footer.footer
    .wrapper
        .footer__top
            a(href="./").logo
                img(src="./images/icon/logo-footer.svg", alt="logo")
            .footer__adress
                img(src="./images/icon/map.svg", alt="map")
                p г. Новосибирск <br> ул. Зорге, 334, этаж 2, каб. 3
            .footer__mail
                img(src="./images/icon/mail.svg", alt="mail")
                a(href="mailto:bp_54@mail.ru") bp_54@mail.ru
            .footer__phone
                img(src="./images/icon/phone.svg", alt="phone")
                div
                    a(href="tel:+73830000000") +7 (383) 000-00-00
                    a(href="tel:+73830000000") +7 (383) 000-00-00
        .footer__bottom
            .footer__copyright
                p © 2020 bp54.ru
                    a(href="#") Политика конфиденциальности
                p 
                    a(href="mailto:bp_54@mail.ru") bp_54@mail.ru 
                    | — электронная почта для обращений с вопросом о своих персональных данных, в том числе об их удалении.        
            .footer__links
                .footer__text
                    a(href="#") Создание сайтов
                    a(href="#") Продвижение сайтов
                a(href="#")
                    img(src="./images/icon/kontur.svg", alt="kontur")